<div class="about-heading-container"><i class="fa-solid fa-user"></i> About Me</div>
<div class="about-heading"></div>
<section class="about-paragraph">
  <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur, deleniti dolores consequuntur numquam distinctio vel voluptates in praesentium alias aliquam magnam expedita aliquid beatae ullam at molestias sunt dolore explicabo rem excepturi! Tempora, quaerat excepturi. Necessitatibus, eaque dignissimos recusandae dolore nostrum, cum voluptatibus repudiandae quis ex voluptas dolorum id.</p>
</section>
