<div class="about-body" id="about">
  <div class="about-left">
    <%= image_tag 'mark_houlli_profile_square.jpg', alt: "profile photo", class: "about-picture" %>
  </div>
  <div class="about-right">
    <div>
      <div class="about-heading"><i class="fa-solid fa-user"></i> <strong>About Me</strong></div>
      <p class="paragraph-text">
      I've been teaching English for the last tens years in England and Japan.
      However in this time I've developed a great interest in computer programming and I've been busy developing my skills.
      I've especially come to enjoy web development, since I've always had an interest in art and design.
      I'm continuously improving my skills and I'm looking to land my first role as a web developer.<br><br>
      Thanks for checking out my portfolio,<br>
      Mark
      </p>
    </div>
  </div>
</div>
