<div class="about-body" id="about">
  <div class="about-left">
    <%= image_tag 'mark_houlli_profile_square.jpg', alt: "profile photo", class: "about-picture" %>
  </div>
  <div class="about-right">
    <div>
      <div class="about-heading"><i class="fa-solid fa-user"></i> <strong>About Me</strong></div>
      <p class="paragraph-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis pariatur, deleniti dolores consequuntur numquam distinctio vel voluptates in praesentium alias aliquam magnam expedita aliquid beatae ullam at molestias sunt dolore explicabo rem excepturi! Tempora, quaerat excepturi. Necessitatibus, eaque dignissimos recusandae dolore nostrum, cum voluptatibus repudiandae quis ex voluptas dolorum id.</p>
    </div>
  </div>
</div>
