<div class="background">
  <header class="header">
    <div class="left-content">
      <h1>Mark Houlli</h1>
      <p>WEB DEVELOPER</p>
      <div class="links">
        <div><i class="fa-solid fa-envelope icon"></i></div>
        <div><i class="fa-brands fa-github icon"></i></div>
        <div><i class="fa-brands fa-linkedin icon"></i></div>
      </div>
    </div>
    <div class="right-content">
      <%= image_tag 'me.jpg', alt: "profile photo", class: 'avatar' %>
    </div>
  </header>
</div>
