<div class="background">
  <header class="header">
    <div class="left-content">
      <div class="left-border">
        <div class="hello"><strong>Hi</strong>, my name is</div>
        <div class="title"><strong>Mark Houlli</strong></div>
        <div class="sub-title">WEB DEVELOPER</div>
        <div class="links">
          <div><i class="fa-solid fa-envelope icon"></i></div>
          <div><i class="fa-brands fa-github icon"></i></div>
          <div><i class="fa-brands fa-linkedin icon"></i></div>
        </div>
      </div>
      <%# <button class="banner-button"><p>Download my CV</p></button> %>
    </div>
    <div class="right-content">
      <%= image_tag 'cartoonize_Me.jpg', alt: "profile photo", class: 'avatar' %>
    </div>
  </header>
</div>
