<footer class="footer-container">
  <div class="left-footer">
    <%= link_to image_tag('MAIH_bw.png', alt: "site logo", class: "logo-footer"), 'http://markhoulli.me/'%>
    <p>Created by Mark Houlli</p>
  </div>
  <div class="middle-footer">
    <p><i class="fa-brands fa-github icon"></i> github.com/houlli82</p>
    <p><i class="fa-brands fa-linkedin icon"></i> in/markhoulli</p>
  </div>
  <div class="right-footer">
    <p><i class="fa-solid fa-envelope icon"></i> markhoulli@protonmail.com</p>
    <p><i class="fa fa-mobile"></i> 090-8594-0007</p>
  </div>
</footer>
