<div class="mark-navbar">
  <div class="logo-container">
    <%= link_to image_tag('MAIH.png', alt: "site logo", class: "logo"), 'http://markhoulli.me/'%>
  </div>
  <ul>
    <li><a href="#about">About</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>
</div>
