.about-heading {
  display: flex;
  justify-content: center;
}

.about-heading-container {
  background-color: rgb(218,230,255);
  padding: 16px;
  text-align: center;
  color: black;
  font-size: 28px;
}

.about-paragraph {
  background-color: rgb(218,230,255);
  padding-bottom: 24px;
  padding-left: 100px;
  padding-right: 100px;
}

.paragraph-text {
  color: black;
}
