.about-heading {
  display: flex;
  justify-content: center;
}

.about-heading-container {
  background-color: rgb(206,211,254);
  padding: 8px;
  text-align: center;
}

.about-paragraph {
  background-color: rgb(206,211,254);
  padding: 16px;
}
