.avatar {
  padding: 8px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: white;
  border-style: solid;
  border-color: purple;
  object-fit: cover;
  display: flex;
  justify-content: center;
  transform: rotate(20deg);
}
