.background {
  background: linear-gradient(180deg, rgba(255, 180, 231, 0.326) 0%, rgba(255, 255, 255, 0) 100%), url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.left-content {
  width: 50%;
  margin-left: 8%;
}

.right-content {
  // align-items: center;
}

.links {
  display: flex;

  .icon {
    margin-right: 8px;
    font-size: 32px;
  }
  .icon:hover {
    color: #1e6bff;
    cursor: pointer;
  }
}
