.background {
  background: url(/images/layered-waves-haikei.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.left-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-border {
  margin-left: 24%;
  border-left: 2px solid black;
  padding-left: 16px;
}

.title {
  text-shadow: rgb(255, 255, 255) 4px 4px;
  font-size: 75px;
  margin-top: -30px
}

.sub-title {
  font-size: 25px;
  margin-left: 4px;
}

.right-content {
  width: 50%;
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  margin-top: 20px;
  margin-left: 4px;

  .icon {
    margin-right: 24px;
    font-size: 32px;
    transition: 0.9s;
  }
  .icon:hover {
    color: rgb(220,252,231);
    cursor: pointer;
    transition: 0.3s;
  }
}
