.box-heading {
  display: flex;
  justify-content: center;
}

.text-box {
  background-color: rgb(223,213,255);
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.paragraph {
  background-color: rgb(223,213,255);
  padding: 16px;
}
