.box-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.text-box {
  background-color: #c5f1d9;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.paragraph {
  border-top-left-radius: 90% 100%;
  border-top-right-radius: 90% 100%;
  background-color: rgb(244, 236, 247);
  margin-top: -25px;
  padding: 16px;
  margin-bottom: 16px;
}
