.box-heading {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.text-box {
  background-color: rgb(214,182,248);
  border-radius: 8px;
  padding: 8px;
  text-align: center;
}

.paragraph {
  background-color: rgb(244, 236, 247);
  margin-top: -25px;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
