.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
}

.left-footer {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  height: 40px;
  width: 40px;
  margin-bottom: 4px;
}

.middle-footer {
  border-left: 1px solid black;
  padding-left: 40px;
}

.right-footer {
  border-left: 1px solid black;
  padding-left: 40px;
}
