.footer-container {
  border-top: 0.5px solid rgb(142, 142, 179);
  background-color: rgb(180, 179, 230);
  text-align: center;
  height: 56px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-text {
  text-decoration: none;
  color: black;
}
