.mark-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding-right: 24px;
  height: 56px;
  ul {
    list-style: none;
    margin-top: 16px;
    justify-content: space-around;
  }
  li {
    display: inline;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding-left: 24px;
  }
}

.logo-container {
  padding-left: 4px;
}

.logo {
  height: 40px;
  width: 40px;
}
