.projects-heading {
  text-align: center;
  text-shadow: rgb(255, 255, 255) 2px 2px;
  font-size: 28px;
  padding: 16px;
}

.projects-paragraph {
  background-color: rgb(203,202,254);
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 32px;
}
