.projects-heading-container {
  display: flex;
  justify-content: center;
}

.projects-heading-text {
  background-color: rgb(220,252,231);
  padding: 8px;
  text-align: center;
}

.projects-paragraph {
  background-color: rgb(220,252,231);
  padding: 16px;
}
