.projects-heading-container {
  display: flex;
  justify-content: center;
}

.projects-heading-text {
  background-color: rgb(203,202,254);
  padding: 16px;
  text-align: center;
  color: black;
  font-size: 28px;
}

.projects-paragraph {
  background-color: rgb(203,202,254);
  padding: 16px;
  padding-bottom: 32px;
}
