.skills-heading {
  display: flex;
  justify-content: center;
}

.skills-heading-container {
  background-color: rgb(198,184,255);
  padding: 8px;
  text-align: center;
}

.skills-paragraph {
  background-color: rgb(198,184,255);
  padding: 16px;
}
