.skills-container {
  background-color: rgb(211,214,255);
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
}

.skills-left {
  padding: 16px;
  color: black;
  width: 50%;
  margin-left: 8%;

  p {
    line-height: 32px;
  }
}

.skills-heading {
  font-size: 28px;
  text-shadow: rgb(255, 255, 255) 2px 2px;
}

.skill {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px rgb(170, 192, 238);
}
.tech-stack {
  width: 50%;
  margin-right: 8%;
  img {
    height: 75px;
    width: 75px;
  }
}
